/* Navbar */
.navbarBackground {
    background-color: #474a2c !important; 
}

.navbarBrand {
    color: white !important; 
    font-weight: bold;
}

/* Search and Filter Section */

.buttonBackground:hover {
    opacity: 0.85;
}

/* Product Card */
.cardBackground {
    background-color: #283f3b !important; 
    border: none !important;
    color: #b4e7ce !important;
    border-radius: 10px; 
}

.card-body {
    padding: 15px; 
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold; 
}

.table-hover tbody tr:hover {
    background-color: #a2fdd9 !important; 
}

/* Modal */
.modal-content {
    background-color: #f0fff4 !important;
    border-color: #3a5f0b !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 95, 11, 0.25) !important;
}

/* Buttons */
.blueButton {
    background-color: #0056b3 !important; 
    color: white !important;
    border: none;
}

.blueButton:hover {
    background-color: #004094 !important; 
}

.redButton {
    background-color: #d9534f !important; 
    color: white !important;
    border: none;
}

.redButton:hover {
    background-color: #c9302c !important; 
}

/* Add Product Button */
.buttonBackground {
    background-color: #515533 !important; 
    color: white !important;
    border: none;
}

.buttonBackground:hover {
    background-color: #515533 !important; 
}

/* Add extra spacing around cards */
.my-2 {
    margin-bottom: 20px !important;
}




